<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.spzx.manager.mapper.SysRoleMapper">

    <resultMap id="sysRoleMap" type="com.cc.spzx.model.entity.system.SysRole" autoMapping="true">

    </resultMap>

    <sql id="columns">
        id,role_name,role_code,description,create_time,update_time,is_deleted
    </sql>
    

    <select id="findByPage" resultType="com.cc.spzx.model.entity.system.SysRole">
        select <include refid="columns" /> from sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_Name like concat('%', #{roleName}, '%')
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>

</mapper>